.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}